/* 전체 */
body {
    background-color: #f5ece3;
    color: black;
    font-family: Courier, monospace;
}

article {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s linear forwards;
}

/* 시작 화면 */ 
.start {
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
    display: flex;
    height: 100vh;
    vertical-align: middle;
} 

.question {
    display: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    background-color : #B38F68;
    text-align: center;
    vertical-align: middle;
    width : 400px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 


.btn-dark {
    color: #fff;
    background-color: #5C4435; 
    border-color: #5C4435;
    text-align : center;
    width : 100px;
} 


/* 문제 화면 */
.progress {
    width : 80%;
    display: flex;
    height: 1rem;
    background-color: white;
}

.progress-bar {
    background-color: #5C4435;
}

.result {
    display: none;
}

/* 결과 화면 */
#summary {
    margin-top: 10px;
    font-size: 25px;
}

#explain {
    margin-top: 15px;
    font-size: 20px;
    opacity: 0.6;
    margin-bottom: 30px;
    line-height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 10px;
}

#img {
    width: 15%;
    height: 15%;
    margin: 0 auto;
}